<%- include ('header') %> 
<div class="class404">
    <div class="jumbotron">
      <h1 class="text-center " style="color:red;">Error page 404</h1>
      <h4 class="text-center" >the requested page is not available</h4>
    </div> 
</div>

<%- include ('footer') %> 

