<%- include ('header') %> 
<main class="about">
   <section id="about" class="icons bg-light">
      <div class="flex-items">
         <div>
            <i class="fas fa-university fa-2x"></i>
            <h3>Investment Banking</h3>
            <p>Lorem dummy dolor sit amet consectetur adipisicing elit. Iste, magnam.</p>

         </div>
         <div>
            <i class="fas fa-book-reader fa-2x"></i>
            <h3>Portfolio Manager</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, magnam.</p>

         </div>
         <div>
            <i class="fas fa-pencil-alt fa-2x"></i>
            <h3>Tax and Custodial </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, magnam.</p>

         </div>

      </div>

   </section>
   <section class="solutions flex-columns">
      <div class="row">
         <div class="column">
            <div class="column-1">
                <img src="../images/home/people.jpg" alt="people">
            </div>
         </div>
         <div class="column">
            <div class="column-2 bg-primary">
               <h4>What you are looking for</h4>
               <h2>We provide bespoke solutions</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro molestiae perspiciatis perferendis dolorem at! Aut et provident nobis obcaecati sed!</p>
               <a class="btn  btn-outline" href="/blog"><i class="fas fa-chevron"></i> Read more</a>

            </div>
         </div>
      </div>
   </section>
   <section class="cases flex-grid section-padding">
       <div class="section-header">
          <h4>This is what we do</h4>
          <h2>Business cases</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, vitae!</p>
       </div>
       <div class="row">
          <div class="column">
             <img src="../images/cases/cases1.jpg" alt="">
             <img src="../images/cases/cases2.jpg" alt="">
          </div>
          <div class="column">
            <img src="../images/cases/cases3.jpg" alt="">
            <img src="../images/cases/cases4.jpg" alt="">
         </div>
         <div class="column">
            <img src="../images/cases/cases5.jpg" alt="">
            <img src="../images/cases/cases6.jpg" alt="">
         </div>
         <div class="column">
            <img src="../images/cases/cases7.jpg" alt="">
            <img src="../images/cases/cases8.jpg" alt="">
         </div>
       </div>
   </section>
</main>
<%- include ('footer') %> 