

<%- include ('header') %> 
<section class="blog solutions flex-columns">
  <div class="row">
     <div class="column">
        <div class="column-1">
            <img src="../images/home/blog.jpg" alt="people">
        </div>
     </div>
     <div class="column">
        <div class="column-2 bg-primary">
           <h4>Aug/02/2020</h4>
           <h2>content 1</h2>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro molestiae perspiciatis perferendis dolorem at! Aut et provident nobis obcaecati sed!</p>
           <a class="btn  btn-outline" href="/blog"><i class="fas fa-chevron"></i> Read more</a>

        </div>
     </div>
  </div>
  <div class="row">
    <div class="column">
       
       <div class="column-2 bg-primary">
          <h4>Aug/01/2020</h4>
          <h2>content 2</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro molestiae perspiciatis perferendis dolorem at! Aut et provident nobis obcaecati sed!</p>
          <a class="btn  btn-outline" href="/blog"><i class="fas fa-chevron"></i> Read more</a>

       </div>
    </div>
    <div class="column">
      <div class="column-1">
        <img src="../images/cases/cases1.jpg" alt="people">

      </div>
    </div>
 </div>
</section>
<%- include ('footer') %> 