<%- include ('header') %> 
<header class="hero">
  <div id="content">
    <h1>The Sky is the limit</h1>
    <p>We provide world class finacial assistance</p>
    <a href="/about" class="btn"><i class="fa fa-chevron-right"></i>Read more</a>
  </div>
</header>
<%- include ('footer') %> 